* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.normalize__link {
  text-decoration: none;
  color: inherit;
}

.leaflet-container {
  height: 500px;
  width: inherit;
}

.Container {
  padding: 0 10px;
  max-width: 1000px;
  margin: 0 auto;
}

textarea {
  resize: none !important;
  overflow: hidden;
}

h1 {
  color: #3F824A;


}